.login-header {
    z-index: 1;
    position: fixed;
    width: 100%;
    margin-top: -10px;
    background-color: #F0F8FF;
    height: 150px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: #5D8AA8;
    display:block;
}
#appname {
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    color: #5D8AA8;
    font-size: 40px;
    font-family: cursive;
    font-style: italic; 
}
#login-left {
    position: relative;
    float: left;
    background-color: #A1CAF1;
    height: 700px;
    width: 70%;
}
#login-left img{ display:block; height:100%; width:100%; }

#login-form {
    top: 150px;
    position: relative;
    float: right;
    background-color: #F0F8FF;
    width: 30%;
    height: 550px;
    color: #5D8AA8;
    font-size: 30px;
    font-family: cursive;
    font-style: italic;
    line-height: normal;

}
#userid {
    margin-top: 80px;
     width: 200px;
     border-radius: 5px;
     height: 25px;
     font-family: sans-serif;
     font-style: normal;
     text-align: center;
     font-weight: lighter;
     font-size: 20px;
     -moz-box-shadow:    inset 0 0 2px #5D8AA8;
   -webkit-box-shadow: inset 0 0 2px #5D8AA8;
   box-shadow:         inset 0 0 2px #5D8AA8;
     
}


#textfield {
     width: 200px;
     border-radius: 5px;
     height: 25px;
     text-align: center;
     font-family: sans-serif;
     font-style: normal;
     font-size: 20px;
     font-weight: lighter;
     -moz-box-shadow:    inset 0 0 2px #5D8AA8;
   -webkit-box-shadow: inset 0 0 2pxx #5D8AA8;
   box-shadow:         inset 0 0 2px #5D8AA8;
}
.form-element {
    
    margin-left: 30px;
    line-height: 2px;
    border-radius: 5px;
    padding: 10px;
    display: block;
    
    
}
label {
    display: block;
}
#subbutton {
    background-color: #5D8AA8;
    width: 100px;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-size: 17px;
    -moz-box-shadow:    inset 0 0 2px #5D8AA8;
   -webkit-box-shadow: inset 0 0 2pxx #5D8AA8;
   box-shadow:         inset 0 0 2px #5D8AA8;
}
#signupbutton {
    background-color: #5D8AA8;
    width: 100px;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-size: 17px;
    -moz-box-shadow:    inset 0 0 2px #5D8AA8;
   -webkit-box-shadow: inset 0 0 2pxx #5D8AA8;
   box-shadow:         inset 0 0 2px #5D8AA8;
    
}
.footer {
    position: relative;
    clear: both;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #5D8AA8;
    height: 100px;
    margin-bottom: -10px;
    background-color: #F0F8FF;
    color: #5D8AA8;
    font-size: 20px;
    font-family: cursive;
    font-style: italic;
    
}
/**/
/*#form-signup {*/
/*    top: 500px ;*/
/*    background-color: #F0F8FF;*/
/*    width: 50%;*/
/*    height: 700px;*/
/*    color: #5D8AA8;*/
/*    font-size: 25px;*/
/*    font-family: sans-serif;*/
/*    font-style: normal;*/
/*    line-height: normal;*/
/*    float: right;*/
/*    */
/**/
/*}*/
/*====================================
        Sign Up Screen
=======================================*/


#form-signup {
    
    position: relative;
    float: right;
    background-color: #F0F8FF;
    width: 45%;
    height: 700px;
    color: #5D8AA8;
    font-size: 20px;
    line-height: normal; 
}

fieldset {
    height: 550px;
    margin-top: 150px;
    width: 100%;
    display: inline-block; 
}
label {
    display: block;
    width: 200px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#page-left {
    
    position: relative;
    float: left;
    background-color: #F0F8FF;
    height: 700px;
    width: 55%;
    font-size: 20px;
    
}
#page-left p {
    margin-top: 200px;
    margin-left: 10px;
    font-family: fantasy;
    
}